body {
  /* Allow canvas to hit the edges of the browser viewport. */
  margin: 0;
}

#screen canvas {
  margin: auto;
  /* Hide the gap for font descenders. */
  display:block;
}

#initialScreen {
    position: absolute;
    width: 100%;
    margin: 0;
    height: 100%;
    text-align: center;
    overflow: hidden;
    margin-top: 50px;
}

#hint {
  background-color:yellowgreen;
  bottom: 90px;
  left: 390px;
  font-size: larger;
  font-weight: bold;
  position: absolute;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
}

#tipElement {
  border: 1px solid #d5d5d5;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#emailBox {
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 500px;
  height: 300px;
  background-color:mediumseagreen;
  z-index: 10;
  text-align:center;
  padding-top: 30px;
  display: none;
  font-weight: bold;
  font-size: large;
  opacity: 1 !important;
}

#playerName {
  width: 400px;
  margin-top: 30px;
}

#playerQuestion {
  width: 400px;
  height: 150px;
  margin-top: 15px;
}

#ResumeFromEmailBox {
  float:left;
  display: flex;
  margin-left: 46px;    
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#sendEmail {
  float:right;
  display: flex;
  margin-right: 46px;    
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#stats {
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 300px;
  height: 120px;  
  border-radius: 25px;
  background-color:mediumseagreen;
  z-index: 10;
  text-align:left;
  padding-left: 20px;
  padding-top: 30px;
  display: none;
  font-weight: bold;
  font-size: large;
  opacity: 1 !important;
}

#resumeFromBox {
  display: flex;
  margin-top: 20px;
}

#escolheDificuldade {
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 300px;
  height: 200px;  
  border-radius: 25px;
  background-color:mediumseagreen;
  z-index: 10;
  text-align:center;
  padding-top: 30px;
  display: none;
  font-weight: bold;
  font-size: large;
  opacity: 1 !important;
}

#easy{
  display: flex;
  margin-left: 20px;
  margin: auto;
  width: 200px;  
  text-align: center;
  justify-content: center;
  margin-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#medium{
  display: flex;
  margin-left: 20px;
  margin: auto;
  width: 200px;
  text-align: center;
  justify-content: center;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#hard{
  display: flex;
  margin-left: 20px;
  margin: auto;
  width: 200px;
  padding-left: 20px;
  padding-right: 20px;  
  text-align: center;
  justify-content: center;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}