.gameMenu {
    position: absolute;
    margin: auto;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 800px;
    height: 450px;
    background-color:mediumseagreen;
    padding-left: 30px;
    padding-top: 30px;
    font-weight: bold;
    font-size: large;
    opacity: 1 !important;
}

#answer{    
    font-weight: normal;
    margin-top: 30px;
    margin-left: 10px;
}

.question{    
    font-weight: normal;
    background-color:seagreen;
    padding-left: 10px;
    padding-top: 10px;  
    margin-left: 10px;  
    margin-top: 10px;  
    width: 740px;
    padding-bottom: 30px;
    font-size: larger;
}

#answerButton1, #answerButton2, #answerButton3, #answerButton4,
#answerButton5, #answerButton6, #answerButton7, #answerButton8,
#answerButton9, #answerButton10, #answerButton11, #answerButton12
#answerButton13, #answerButton14, #answerButton15, #answerButton16
#answerButton17, #answerButton18, #answerButton19, #answerButton20{    
    width: 750px;
    text-align: left;
    padding-left: 10px;
    height: 40px;
}

#resumeGame1, #resumeGame2, #resumeGame3, #resumeGame4, #resumeGame5 {
    font-weight: normal;
    margin-top: 20px;
    display: flex;    
    margin-left: 10px;
    align-items: center;
    justify-content: center;   
    float:left;
}

#tip1, #tip2, #tip3, #tip4, #tip5 {
    font-weight: normal;
    margin-top: 20px;
    display: flex;    
    margin-left: 200px;
    align-items: center;
    justify-content: center;   
}

#tipBox1, #tipBox2, #tipBox3, #tipBox4,#tipBox5 {
    position: absolute;
    border: 15px solid #d5d5d5;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 25px;
    width: 500px;
    height: 200px;
    background-color:mediumseagreen;
    z-index: 10;
    text-align:left;
    padding-left: 20px;
    padding-top: 30px;
    font-weight: bold;
    font-size: large;
    opacity: 1 !important;
}
